html {
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
}

.entry-page {
  position: relative;

  height: 100vh;
  overflow: hidden;
}

.entry-page__navigation {
  padding: 20px;  
  position: absolute;  
  height: 100vh;  

  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.entry-page__navigation:hover {
  background-color: grey;

  color: white;
}

.entry-page__image {
  padding: 20px;
  position: fixed;
  border: solid rgb(0, 0, 0) 1px;
  top: 50%;
  left: 25%;
}

.entry-page__text {
  padding: 20px;
  position: fixed;
  border: solid rgb(0, 0, 0) 1px;
  top: 50%;
  left: 65%;
}

.entry-page__media-links {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.media-links {
  display: flex;  
}

.media-links__link {
  position: relative;
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background-color: #f1f2f4;
}

.media-links__link-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}