
body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  color: #7A7CFF;
  text-align: left;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_links {
  display: inline-block;
  padding: 0px 30px;
}

.navbar__logo {
  background-color: #3E4C59;
  color: #FFF;
  font-size: 20px;
  padding: 15px 60px;
  border-radius: 10px;
}

.navbar__link {
  font-size: 16px;
  color: #3E4C59;
  text-decoration: none;
  padding: 0px 20px;
  /* border: solid rgb(219, 218, 218) 1px; */
}

.navbar__link:hover {
  opacity: .6;
}

.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 250px;
  height: 400px;
}

.about-me__avatar {
  width: 200px;
  border-radius: 50% ;
  padding: 10px;
}

.about-me__intro {
  padding: 10px 100px;
}

.tap_picture {
  margin: auto;
  text-align: left;
}

.home-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #1C1313;
}

.home-page__container {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-page__headline {
  font-size: 72px;
  color: #FFF;
  text-align: center;
}

.text_on_page {
  font-size: 72px;
  color: #FFF;
  text-align: center
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  background-color: #96D4D4;
  border-radius: 10px;
  border-color: bisque;
}

th {
  text-align: left;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  border: none;
  border-radius: 4px;
  width: 95px;
  font-size: 14px;
  line-height: 15px;
  font-style: normal;
  letter-spacing: 0.75px;
  text-align: center;
  padding: 11px 16px;
  background-color: #304FFE;
  cursor: pointer;
}

.btn:hover {
  background-color: #0026CA;
}

.btn:active {
  background-color: #7A7CFF;
}

.btn--medium {
  padding: 15px 16px;
}

.btn--large {
  padding: 19px 16px;
}

.btn--secondary{
  border: 1px solid #304FFE;
  color: #304FFE;
  background-color: #FFF;
}

.btn--secondary:hover {
  color: #0026CA;
  border: 1px solid #0026CA;
  background-color: #FFF;
}

.btn--secondary:active {
  color: #7A7CFF;
  border: 1px solid #7A7CFF;
  background-color: #FFF;
}

.gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 100px;
}

.gallery__image {
  width: 100%;
}

.gallery__headline {
  text-align: center;
}

.gallery__subheadline {
  text-align: center;
}

.project-cards {
  display: flex;
  justify-content: space-between;
  
  flex-direction: column;
}

.project-cards__card {
  width: 100%;
}

.project-card {
  margin: 30px;
  overflow: hidden;
  
  border-radius: 20px;

  background-color: #294271;

  /* BBBTO */
  /* Box
  Border
  Background
  Text
  Other */
}

.project-card__photo-gallery {
  margin-bottom: 16px;
}

.card-photo-gallery {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-photo-gallery__front-image {
  width: 60%;
  transform: rotate(-8deg);
  z-index: 10;
  margin-top: -24px;
  margin-bottom: 24px;

  border: 10px solid #FFF;
}

.card-photo-gallery__left-image {
  width: 30%;
  transform: rotate(11deg) translateX(-30%);
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 5;

  border: 5px solid #FFF;
}

.card-photo-gallery__right-image {
  width: 30%;
  transform: rotate(-12deg) translateX(20%);
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 5;

  border: 5px solid #FFF;
}

.project-card__title {
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  
  font-size: 16px;
  color: #FFF;
}

.card-description__headline {
  margin-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  
  font-size: 8px;
  color: #FFF;
}

.project-card__horizontal-break {
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 16px;
  }

.card-description__text {
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  
  font-size: 12px;
  color: #FFF;
}

.footer {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 16.66666666%;
  font-size: 12px;
} 

.footer__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 66.66666664%;
}

.footer__link {
  padding: 5px 20px;
  font-size: 14px;
  color: #3E4C59;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .home-page__headline {
    font-size: 144px;
    color: #FFF;
  }
  .gallery__image {
    width: 300px;
  }
  .gallery__images {
    flex-direction: row;
  }
  .project-cards {
    flex-direction: row;
  }
  .project-cards__card {
    width: 33.33333%;
  }
}